<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
  </head>
  <body>
    <h1>Help</h1>
    <p>
      Most questions can be answered by
      <a href="https://www.google.com">Google</a>.
    </p>
  </body>
</html>
