<!DOCTYPE html>
<html>
  <head>
    <title>Home | Sample App</title> </head>
  <body>
    <h1>Sample App</h1>
    <p>
      This is the home page with a
      <a href="https://www.wikipedia.org/">link to wikipedia</a>.
    </p>
  </body>
</html>
